doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/assets/css/error.css' rel='stylesheet')
    link(href='data:,' rel='icon')
    title= title
  body
    div(title='404') 404
    #{error.stack}